<% include ../header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-9">888</div>
        <div class="col-md-3">444</div>
    </div>
</div>


<% include ../footer.ejs %>

<script>
    $(function(){
        $('#nav-posts').addClass('active');
    })
</script>