<% include ../header.ejs %>

<style>
    .item{
        height: 70px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 15px;
        border-bottom: 1px solid #e1e1e1;
    }
    .item > .header{
        display: inline-block;
        float: left;
        width: 50px;
        height: 50px;
        background-color: red;
        margin-right: 5px;
    }
    .item > .content{
        overflow: hidden;
    }
    .item > .content > .title{
        font-size: 17px;
    }
    .item > .content > .detail{
        margin-top: 5px;
        font-size: 14px;
    }
</style>

<div class="container">
    <div class="row">
        <!--左侧帖子列表-->
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading" style="position: relative">
                    &nbsp;
                    <div style="display: inline-block; position: absolute; right: 10px">
                        查看:
                        <span>默认</span>
                        <span>优质帖子</span>
                        <span>最新创建</span>
                    </div>
                </div>
                <div class="panel-body" style="padding: 0">
                    <div class="post_outline_item">
                        <img src="" alt="" class="header">
                        <div class="content">
                            <a href="" class="title">node.js官方npm镜像</a>
                            <div class="detail">
                                <span>公告</span><span>•wangsen</span><span>•最后由senwang与22小时前回复</span>
                            </div>
                            <div class="post-badge">
                                <a href="#"><span class="badge">88</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="post_outline_item">
                        <img src="" alt="" class="header">
                        <div class="content">
                            <a href="" class="title">node.js官方npm镜像</a>
                            <div class="detail">
                                <span>公告</span><span>•wangsen</span><span>•最后由senwang与22小时前回复</span>
                            </div>
                            <div class="post-badge">
                                <a href="#"><span class="badge">88</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--右侧宣传栏-->
        <div class="col-md-3 hidden-sm hidden-xs">fdsafsdf</div>
    </div>
</div>


<% include ../footer.ejs %>

<script>
    $(function(){
        $('#nav-posts').addClass('active');
    })
</script>