<% include ../header.ejs %>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            发布新话题
        </div>
        <div class="panel-body">
            <div class="btn-group">
                <div class="btn btn-default">选择节点 <span class="caret"></span></div>
                <div class="control-group">
                    <label for="single-prepend" class="control-label">Select2 prepend</label>
                    <div class="controls">
                        <div class="input-prepend">
                            <button class="btn" type="button" data-select2-open="single-prepend">
                                <i class="icon-search"></i>
                            </button>
                            <select id="single-prepend" class="select2" style="width:400px;">
                                <option></option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../footer.ejs %>
<script>
    $(function(){
        $('#nav-posts').addClass('active');
    })
</script>