<% include ../header.ejs %>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            发布新话题
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="btn-group control-label">
                    <div class="btn btn-default">选择节点 <span class="caret"></span></div>
                </div>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
</div>

<% include ../footer.ejs %>
<script>
    $(function(){
        $('#nav-posts').addClass('active');
    })
</script>