<% include ../header.ejs %>
<script src="/marked/lib/marked.js"></script>
<link rel="stylesheet" href="/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="/select2-bootstrap-theme/dist/select2-bootstrap.min.css">
<script src="/select2/dist/js/select2.min.js"></script>
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            发布新话题
        </div>
        <div class="panel-body">
            <!--话题标题group-->
            <div class="form-group">
                <div style="width: 150px; display: inline-block; float: left">
                    <!--话题分类-->
                    <select class="select2 select2-container select2-container--bootstrap select2-hidden-accessible" style="width: 150px;" tabindex="-1" aria-hidden="true">
                        <option></option>
                        <optgroup label="后台">
                            <option value="node">Node.js</option>
                            <option value="meteor">Meteor</option>
                            <option value="ruby">Ruby</option>
                            <option value="rails">Rails</option>
                            <!--<option value="HI" disabled="disabled">Hawaii</option>-->
                        </optgroup>
                        <optgroup label="移动原生">
                            <option value="ios">iOS</option>
                            <option value="android">Android</option>
                        </optgroup>
                        <optgroup label="前端">
                            <option value="javascript">JavaScript</option>
                            <option value="html">Html</option>
                            <option value="css">Css</option>
                            <option value="jquery">Jquery</option>
                            <option value="angularjs">AngularJS</option>
                            <option value="react">React</option>
                        </optgroup>
                        <optgroup label="跨平台">
                            <option value="reactNative">ReactNative</option>
                        </optgroup>
                    </select>
                </div>
                <!--标题-->
                <div style="margin-left: 112px; overflow: hidden">
                    <input type="text" class="form-control" placeholder="标题">
                </div>
            </div>
            <!--内容group-->
            <div class="form-group">
                <div class="col-sm-5" style="padding-left: 0">
                     <textarea id="text-input" rows="20" cols="40" class="form-control" placeholder="请输入markdown格式"></textarea>
                </div>
                <div class="col-sm-7">
                    <div id="preview"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../footer.ejs %>
<script>
    $(function(){
        $('#nav-posts').addClass('active');

        $('#text-input').on('input', function(){
            console.log(11);
            document.getElementById('preview').innerHTML = marked($(this).val());
        })
    });



    $( ".select2" ).select2( {
        theme: "bootstrap",
        placeholder: "选择话题",
        maximumSelectionSize: 6
    } );
    $( ":checkbox" ).on( "click", function() {
        $( this ).parent().nextAll( "select" ).prop( "disabled", !this.checked );
    });



</script>