<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script defer src="/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

    <link rel='stylesheet' href='/stylesheets/style.min.css' />
</head>
<body>
<nav class="navbar navbar-default c-header" role="navigation">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">node-china</a>
    </div>
    <ul class="nav navbar-nav navbar-left hidden-xs">
        <li id="nav-posts"><a href="/posts">文章列表</a></li>
        <li id="nav-starter"><a href="#">新手入门</a></li>
        <li id="nav-npms"><a href="#">Npms</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-xs" style="margin-right: 15px">
        <% if(!locals.user) { %>
            <li><a href="<%= authVisitUrl %>">登陆</a></li>
        <% } else { %>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= user.name %>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">jmeter</a></li>
                <li><a href="#">EJB</a></li>
                <li><a href="#">Jasper Report</a></li>
                <li class="divider"></li>
                <li><a href="/github/logout">退出</a></li>
            </ul>
        </li>
        <% } %>
    </ul>
</nav>


