<% include header.ejs %>
<div class="container">
  <div class="row" style="margin-bottom: 20px">
    <div style="padding: 20px 0; text-align: center; background-color: white">
      <div style="display: inline-block; text-align: center">
        <div style="height: 100%;line-height: 50px">欢迎来到node-china.club</div>
      </div>
    </div>
  </div>

    <div class="row hidden-sm hidden-xs">
      <div class="col-md-3" style="padding-left: 0; padding-right: 10px;">
        <div class="panel panel-default">
          <div class="panel-body">
            node社区内容体
          </div>
          <div class="panel-footer">
            node社区
          </div>
        </div>
      </div>
      <div class="col-md-3" style="padding: 0 10px;">
        <div class="panel panel-default">
          <div class="panel-body">
            技术文档内容体
          </div>
          <div class="panel-footer">
            技术文档
          </div>
        </div>
      </div>
      <div class="col-md-3" style="padding: 0 10px;">
        <div class="panel panel-default">
          <div class="panel-body">
            招聘与求职内容体
          </div>
          <div class="panel-footer">
            招聘与求职
          </div>
        </div>
      </div>
      <div class="col-md-3" style="padding-left: 10px; padding-right: 0;">
        <div class="panel panel-default">
          <div class="panel-body">
            精华文章内容体
          </div>
          <div class="panel-footer">
            精华文章
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">社区精华帖</div>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
            <div class="post_outline_item">
              <img src="" alt="" class="header">
              <div class="content">
                <a href="" class="title">node.js官方npm镜像</a>
                <div class="detail">
                  <span>公告</span><span>•wangsen</span><span>•最后由senwang与22小时前回复</span>
                </div>
                <div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="post_outline_item">
              <img src="" alt="" class="header">
              <div class="content">
                <a href="" class="title">node.js官方npm镜像</a>
                <div class="detail">
                  <span>公告</span><span>•wangsen</span><span>•最后由senwang与22小时前回复</span>
                </div>
                <div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="post_outline_item">
              <img src="" alt="" class="header">
              <div class="content">
                <a href="" class="title">node.js官方npm镜像</a>
                <div class="detail">
                  <span>公告</span><span>•wangsen</span><span>•最后由senwang与22小时前回复</span>
                </div>
                <div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="post_outline_item">
              <img src="" alt="" class="header">
              <div class="content">
                <a href="" class="title">node.js官方npm镜像</a>
                <div class="detail">
                  <span>公告</span><span>•wangsen</span><span>•最后由senwang与22小时前回复</span>
                </div>
                <div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

</div>


<% include footer.ejs %>


